<html>
<head>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
</head>
<body>
  <h3> Web Blackjack </h3>
  <h5> By Tae Kim </h5>
  <h6> Please enter your name.</h6>

	<form action='/new_player' method='post'>
		<input type='text' name='username'>
		<input type="submit" class="btn"/>
	</form>

<script src="/js/bootstrap.min.js"></script>
<body>
</html>